[user]
  name = Miquel Sabaté Solà
  email = mssola@mssola.com
  signingkey = 0x96BE8C6FD89D6565

[core]
  excludesfile = ~/.gitignore
  whitespace = trailing-space,space-before-tab
  abbrev = 12

[pretty]
  fixes = Fixes: %h (\"%s\")

[help]
  autocorrect = 1

[http]
  sslVerify = true

[alias]
  a = commit -a -s
  down = pull --rebase --stat
  fpush = push --force-with-lease

[format]
  signoff = true

[push]
  default = matching

[apply]
  whitespace = fix

[color]
  ui = true

[merge]
  tool = vimdiff

[init]
  defaultBranch = main

[commit]
  gpgsign = true
  verbose = true

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[rerere]
  enabled = true
  autoUpdate = true

[branch]
  sort = -committerdate

[column]
  ui = auto

##
# git send-email

[sendemail]
  smtpEncryption = tls
  smtpServer = smtp.mailbox.org
  smtpUser = mssola@mssola.com
  smtpServerPort = 587

##
# Use difftastic.

[difftool]
  # Run the difftool immediately, don't ask 'are you sure' each time.
  prompt = false

[pager]
  # Use a pager if the difftool output is larger than one screenful,
  # consistent with the behaviour of `git diff`.
  difftool = true

[diff]
  # Use `difft` by default.
  external = difft

  # Set difftastic as the default difftool, so we don't need to specify
  # `-t difftastic` every time.
  tool = difftastic

##
# Overrides in case my @suse.com should apply.

[includeIf "gitdir:~/src/github.com/SUSE/"]
  path = ~/.gitconfig-suse

[includeIf "gitdir:~/src/gitlab.suse.de/"]
  path = ~/.gitconfig-suse