[user]
  name = Miquel Sabaté Solà
  email = mikisabate@gmail.com
  signingkey = 0x96BE8C6FD89D6565

[includeIf "gitdir:~/src/github.com/SUSE/"]
  path = ~/.gitconfig-suse

[includeIf "gitdir:~/src/gitlab.suse.de/"]
  path = ~/.gitconfig-suse

[core]
  editor = emacsclient-a-nw
  excludesfile = ~/.gitignore
  whitespace = trailing-space,space-before-tab
  abbrev = 12

[help]
  autocorrect = 1

[http]
  sslVerify = true

[alias]
  a = commit -a -s -v
  down = pull --rebase --stat

[format]
  signoff = true

[push]
  default = matching

[apply]
  whitespace = fix

[color]
  ui = true

[merge]
  tool = vimdiff

[init]
  defaultBranch = main

[commit]
  gpgsign = true

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
