/*
 * This file tries to mimick what we have in the soria theme. That being said,
 * the HTML exporter of org-mode is not perfect, so there's tons of stuff that
 * are not highlighted in the same way as in GNU Emacs. Anyways, the colors are
 * as follows:
 *
 * soria-purple       "#dfafdf"
 * soria-darkpurple   "#875f87"
 * soria-white        "#d0d0d0"
 * soria-darkgray     "#1c1c1c"
 * soria-brightgreen  "#81c13b"
 * soria-green        "#b9dc92"
 * soria-darkgreen    "#2f5361"
 * soria-gray         "#808080"
 * soria-linegray     "#3a3a3a"
 * soria-statusgray   "#4e4e4e"
 * soria-statusncgray "#b2b2b2"
 * soria-black        "#000000"
 * soria-whitest      "#eeeeee"
 * soria-yellow       "#ffffaf"
 * soria-orange       "#d7af87"
 * soria-redpastel    "#d78787"
 * soria-blue         "#87afd7"
 */

.org-src-container pre {
    color: #d0d0d0;
    background-color: #1c1c1c;
    border-left: 0px;
}

.org-warning                    { color: #b9dc92; }
.org-keyword                    { color: #87afd7; }
.org-function-name              { color: #87afd7; }
.org-builtin                    { color: #87afd7; }
.org-constant                   { color: #ffffaf; }
.org-string                     { color: #ffffaf; }
.org-doc                        { color: #808080; }
.org-comment                    { color: #808080; }
.org-comment-delimiter          { color: #808080; }
.org-rainbow-delimiters-depth-1 { color: #81c13b; }
.org-rainbow-delimiters-depth-2 { color: #d78787; }
.org-rainbow-delimiters-depth-3 { color: #d7af87; }
.org-rainbow-delimiters-depth-4 { color: #87afd7; }
.org-rainbow-delimiters-depth-5 { color: #d0d0d0; }
.org-rainbow-delimiters-depth-6 { color: #d0d0d0; }
.org-rainbow-delimiters-depth-7 { color: #d0d0d0; }
.org-rainbow-delimiters-depth-8 { color: #d0d0d0; }
.org-rainbow-delimiters-depth-9 { color: #d0d0d0; }
